<!-- Ini adalah elemen h2 dengan kelas CSS untuk teks tengah -->
<center>
<img src="/images/pict.jpg" width="400">
</center>
<h2 align="center">
    RIZKI FAUZI PERMANA 
  </h2>
<h3 align="center"> PELATIHAN CODING - BATCH 7</h3>