<h1 align ="center" class="container mx-auto px-4 lg:max-w-7xl py-24 text-center">
  <font color="white"> DAFTAR NAMA KONTAK </font>        
  </h1>
  <!-- membuat tabel daftar kontak dan email -->
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">No Telp</th>
            <th scope="col">Detail Kontak</th>
        </tr>
        </thead>

    <% if (isEmpty) { %>
    <h2 align= "center" class="container mx-auto px-4 lg:max-w-7xl py-24 text-center" >
      <font color="red"> Kontak Kosong!!</font>
    </h2>
    <% } else { %>
      <% contact.forEach ((contact, index) => { index++ %>
        <tr>
          <th scope="row"><%= index++ %></th>
          <td><%= contact.nama %></td>
          <td><%= contact.phone %></td>
          <td>
            <a
              href="/contact/<%=contact.nama %>"
              class="btn btn-success badge rounded-pill"
              ><i class="bi bil-info-circle"></i>Detail</a>
          </td>
        </tr>
        <% }); %> <% } %>
    </ul>
  </tbody>
</table>
  <a
    href="/contact/add"
    class="btn btn-success btn-light mb-6 shadow p-8"
    >Add New Contact</a>
</div>
</div>
    