<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTS</title>
</head>
<body>
    <nav>
        <a href="/index/">index</a> |
        <a href="/about/">about</a> |
    </nav>


   <h1 align="center"> KONTAK </h1>
    <br />
    <main>
      <br />
      <h1 align ="center" class="container mx-auto px-4 lg:max-w-7xl py-24 text-center">
        
      Daftar Nama dan Kontak
    </h1>
    <br />

    <% if (isEmpty) { %>
    <h2 align= "center" class="container mx-auto px-4 lg:max-w-7xl py-24 text-center" >
      <font color="red"> Kontak Kosong!!</font>
    </h2>
    <% } else { %>
    <ul>
      <% contact.forEach(contact => { %>
      <li><h2>Nama: <%= contact.nama %></h2></li>
      <li><h2>Nomor HP: <%= contact.phone %></h2></li>
      <br />
      <% }); %>
    </ul>
    <% } %>
    </main>
</body>
</html>