<h1 class=" text-m-start" align="center" >
  <br>
  <font color="red">
   HELLO ! WELCOME TO MY PAGE
</font>
</h1> 
 <!-- Ini adalah elemen h3 yang digunakan untuk menampilkan pesan atau slogan -->
 <h3 class="text-center text-m-start" align="center">
   <font color="white"> HALLO INI ADALAH HALAMAN UTAMA 
  </font>
  </h3>