<h1 class="text-center text-m-start" align="center">
   HELLO ! WELCOME TO MY PAGE
 </h1>
 <br />
 
 <!-- Ini adalah elemen h3 yang digunakan untuk menampilkan pesan atau slogan -->
 <h3 class="text-center text-m-start" align="center">
   HALLO INI ADALAH HALAMAN UTAMA 
 </h3>